.login-content {
    --background: #f0f0f5;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; /* Cambié el 100% por 100vh para asegurar que ocupa toda la pantalla */
    position: relative; /* Se mantiene el contexto para la posición de los elementos dentro */
  }
  
  .login-container {
    width: 100%;
    max-width: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    position: absolute; /* Esto permite centrar con transform */
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%); /* Esto lo centra perfectamente */
  }
  
  ion-card {
    width: 100%;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  ion-card-title {
    text-align: center;
    font-size: 1.5em;
    color: #333;
    margin-bottom: 1rem;
  }
  
  ion-item {
    margin-bottom: 15px;
  }
  
  .login-button {
    --background: #3880ff;
    --border-radius: 10px;
    margin-top: 20px;
  }
  