/* filepath: /home/alumnat/Escriptori/2024-25/MP-08/projecteIonic/IonicVideosAppVlad/src/app/tab2/tab2.page.scss */
.drop-container {
    border: 2px dashed #ccc;
    border-radius: 20px;
    width: 100%;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    color: #ccc;
    font-size: 20px;
  }