<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Inici
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Tab 1</ion-title>
    </ion-toolbar>
  </ion-header>

  <ion-card *ngFor="let video of videos">
    <ion-card-header>
      <ion-card-title>{{ video.name }}</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <video width="100%" controls>
        <source [src]="video.url" type="video/mp4">
        Your browser does not support the video tag.
      </video>
      <ion-button expand="block" color="danger" (click)="deleteVideo(video.name)">
        <ion-icon slot="start" name="trash"></ion-icon>
        Borrar
      </ion-button>
    </ion-card-content>
  </ion-card>
</ion-content>